﻿body {
    margin: 50px 0px;
    padding: 0px;
    text-align: center;
    background-color:#7ab5d3;
}

#Content {
    width: 800px;
    margin: 0px auto;
    text-align: left;
    padding: 15px;
    border: 1px none #333;
    background-color: rgb(186, 212, 246);
}
